<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Horários dos Cursos</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<header>
    <h1>Bem-vindo ao Sistema de Horários</h1>
</header>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="professores.html">Professores</a></li>
        <li><a href="materias.html">Matérias</a></li>
    </ul>
</nav>
<main>
    <h2>Veja os horários dos cursos</h2>
    <section>
        <h3>Curso X</h3>
        <p>Horário: Segunda e Quarta, 10:00 - 12:00</p>
    </section>
    <section>
        <h3>Curso Y</h3>
        <p>Horário: Terça e Quinta, 14:00 - 16:00</p>
    </section>
    <a href="/outrapagina">Navegar para outra pagina</a></p>

</main>
<footer>
    <p>&copy; 2024 Sistema de Horários. Todos os direitos reservados.</p>
</footer>
</body>
</html>