<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->


<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->
<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage - Horários dos Cursos</title>
  <link rel="stylesheet" th:href="@{/static/css/styles.css}">

</head>
<body>
<h1>Engenharia de softwaare 2</h1>
</body>
<header>
  <h1>Bem-vindo ao Sistema de Horários</h1>
</header>
<footer>
  <p>&copy; Guilherme Graper - Programação Orientada a Objetos 2024</p>
</footer>
</html>
<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->

<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->

<!-- SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO SEM USO -->
